<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="">Read-aholic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/search">Looking for a specific book?</a>
            </li>
            <li class="nav-item" *ngIf="isUserAdmin()">
              <a class="nav-link" routerLink="/user/search">Users</a>
            </li>
        </ul>
    <ul class="navbar-nav ml-auto">
  
        <li class="nav-item" *ngIf="!isUserLogged()">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isUserLogged()">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
        <li class="nav-item" *ngIf="isUserLogged()">
          <a class="nav-link" routerLink="/logout">Logout</a>
        </li>
  
      </ul>
    </div>
</nav>
  
